In [1]:
import gensim
from gensim.models import word2vec
from gensim.models import KeyedVectors
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
word_vectors = KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin',binary=True)

In [3]:
f = open("glove.6B.50d.txt",encoding='utf8')

In [4]:
XT = f.read()

In [5]:
print(len(XT))

171337876

In [6]:
xt = XT.split('\n')

In [10]:
xt[4]

'to 0.68047 -0.039263 0.30186 -0.17792 0.42962 0.032246 -0.41376 0.13228 -0.29847 -0.085253 0.17118 0.22419 -0.10046 -0.43653 0.33418 0.67846 0.057204 -0.34448 -0.42785 -0.43275 0.55963 0.10032 0.18677 -0.26854 0.037334 -2.0932 0.22171 -0.39868 0.20912 -0.55725 3.8826 0.47466 -0.95658 -0.37788 0.20869 -0.32752 0.12751 0.088359 0.16351 -0.21634 -0.094375 0.018324 0.21048 -0.03088 -0.19722 0.082279 -0.09434 -0.073297 -0.064699 -0.26044'

In [14]:
import numpy as np

In [21]:
def odd_one_out(words):
    """Accepts a list of words and returns the odd word"""
    
    # Generate all word embeddings for the given list
    all_word_vectors = [word_vectors[w] for w in words]
    avg_vector = np.mean(all_word_vectors,axis=0)
    print(avg_vector.shape)
    
    #Iterate over every word and find similarity
    odd_one_out = None
    min_similarity = 1.0 #Very high value
    
    for w in words:
        sim = cosine_similarity([word_vectors[w]],[avg_vector])
        if sim < min_similarity:
            min_similarity = sim
            odd_one_out = w
    
        #print("Similairy btw %s and avg vector is %.2f"%(w,sim))
            
    return odd_one_out

In [22]:
input_1 = ["apple","mango","juice","party","orange"] 
input_2 = ["music","dance","sleep","dancer","food"]        
input_3  = ["match","player","football","cricket","dancer"]
input_4 = ["india","paris","russia","france","germany"]

In [23]:
odd_one_out(input_1)

(300,)

'party'

In [24]:
import pandas as pd

In [25]:
X_Train = pd.read_csv('Test.csv')

In [26]:
X_Train.head()

      Word1      Word2    Word3      Word4     Word5
0  elephant       lion    tiger       goat     snake
1       man  policeman  fireman    teacher   postman
2     plane       bird   rocket    balloon       cat
3     onion     celery  lettuce  pineapple    potato
4     India   football   hockey    cricket  swimming

In [27]:
xt = X_Train.values

In [28]:
xt.shape

(20, 5)

In [29]:
xt[0]

array(['elephant', 'lion', 'tiger', 'goat', 'snake'], dtype=object)

In [30]:
ans = []
len(ans)

0

In [34]:
odd_one_out(xt[1])

(300,)

'teacher'

In [36]:
q = xt.shape[0]
for i in range(q):
    ans.append(odd_one_out(xt[i]))

(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)

In [37]:
print(ans)

['snake', 'teacher', 'cat', 'pineapple', 'India', 'is', 'was', 'Australia', 'Money', 'think', 'ship', 'Rome', 'Pool', 'Egypt', 'mouse', 'helmet', 'Universe', 'Kill', 'Club', 'Sun']

In [38]:
df = pd.DataFrame(ans, columns =['OddOne'])

In [43]:
df.head(n=20)

       OddOne
0       snake
1     teacher
2         cat
3   pineapple
4       India
5          is
6         was
7   Australia
8       Money
9       think
10       ship
11       Rome
12       Pool
13      Egypt
14      mouse
15     helmet
16   Universe
17       Kill
18       Club
19        Sun

In [40]:
df.to_csv('ODD_ONE_OUT',index=False)